﻿<%@ Page Title="" Language="VB" MasterPageFile="SiteA.master" AutoEventWireup="false" CodeFile="form.aspx.vb" Inherits="Perrito_form1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <br /><br />
    <h1>Bienvenido</h1>
    <hr />
    <h2>Que desea hacer?</h2>
</asp:Content>

