﻿<%@ Master Language="VB" MasterPageFile="~/Site.master" AutoEventWireup="false" CodeFile="SiteA.master.vb" Inherits="Perrito_SiteA" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="form.aspx">
                        <img src="../img/logo.png" width="50"/></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="altas.aspx">Altas</a></li>
                        <li><a runat="server" href="bajas.aspx">Bajas</a></li>
                        <li><a runat="server" href="actualizaciones.aspx">Actualizaciones</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultas<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a runat="server" href="congen.aspx">Ver tabla</a></li>
                                <li><a runat="server" href="vercat.aspx">Ver categorias</a></li>
                                <li><a runat="server" href="consultas.aspx">Detalles</a></li>
                                <li><a runat="server" href="busqueda.aspx">Búsqueda</a></li>
                            </ul>
                        </li>
                    </ul>

                    <%--<div class="navbar-form navbar-left">
                        <div class="form-group" role="search">
                            <asp:TextBox ID="txtbuscar" runat="server" CssClass="form-control" placeholder="Buscar"></asp:TextBox>
                        </div>
                        <asp:Button ID="btnbuscar" runat="server" CssClass="btn btn-default" Text="Buscar" />
                    </div>--%>

                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Register">Registrarse</a></li>
                                <li><a runat="server" href="~/Account/Login">
                                    <img src="../img/log.png" width="30"/>Iniciar Sesión</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Miembros/carro.aspx"><img src="../img/car.png" width="30"/></a></li>
                                <li><a runat="server" href="~/Account/Manage" title="Manage your account">Hola! <%: Context.User.Identity.GetUserName()  %>!</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="RedirectToLoginPage" LogoutText="Cerrar Sesión" LogoutPageUrl="~/Account/Login.aspx"  />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            
        </div>
</asp:Content>

