﻿body {
    background-color:#ffffff;
}

h2{
    color: #000000;
}

.navbar{
    margin-left:5%;
    margin-right:5%;
    border-radius:10px;
    border-bottom:2px solid black;
}

a{
    color:#000000;
    font-weight:bold;
}

#btnbuscar {
    background-color: #d89a42;
    border-color: #d89a42;
    font-weight:bold;
}

.navbar-brand{
    padding-bottom:10px;
}
